/* ==UserStyle==
@name           Laravel Docs ToC Sidebar
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Show docs table of contents in a sidebar for easy access.
@author         Chris Montgomery <chris@cdom.io>
@license        GPL-3.0-or-later
==/UserStyle== */
@-moz-document url-prefix("https://laravel.com/docs/") {
	#main-content > ul:first-of-type {
		position: fixed;
		top: 1.5rem;
		right: 1.5rem;
		max-height: 60vh;
		overflow-y: scroll;
		background: white;
		border: 1px solid #eee;
		padding: 0.5rem;
		z-index: 99;
		box-shadow: -1px -1px 8px rgba(0,0,0,0.1);
	}
}
