/* ==UserStyle==
@name         [devenv.sh]
@version      20230331.16.56
@namespace    ?
==/UserStyle== */

@-moz-document url-prefix("https://devenv.sh/reference/options/") {
.md-sidebar-secondary {
	width: unset;
}
}
